In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
#question 1
pd.__version__

'2.2.3'

In [3]:
df_cars=pd.read_csv("car_fuel_efficiency.csv")

In [5]:
#question2
df_cars.shape[0]

9704

In [6]:
#question3
#How many fuel types are presented in the dataset?

In [8]:
df_cars.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [9]:
df_cars.fuel_type.value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [10]:
##question 4
##How many columns in the dataset have missing values?
df_cars.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [11]:
##question 5
#What's the maximum fuel efficiency of cars from Asia?
df_cars.origin.unique()

array(['Europe', 'USA', 'Asia'], dtype=object)

In [12]:
df_cars.query("origin=='Asia'").fuel_efficiency_mpg.max()

np.float64(23.759122836520497)

**question 7**
* Find the median value of the horsepower column in the dataset.
* Next, calculate the most frequent value of the same horsepower column.
* Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
* Now, calculate the median value of horsepower once again.

**Has it changed?**

* Yes, it increased
* Yes, it decreased
* No

In [13]:
df_cars.horsepower.median()

np.float64(149.0)

In [14]:
df_cars.horsepower.mode()

0    152.0
Name: horsepower, dtype: float64

In [15]:
df_cars.horsepower.fillna(df_cars.horsepower.mode(),inplace=True)

C:\Users\ASUS TUF\AppData\Local\Temp\ipykernel_26508\2097810061.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars.horsepower.fillna(df_cars.horsepower.mode(),inplace=True)

In [16]:
df_cars.horsepower.median()

np.float64(149.0)

**question7**
* Select all the cars from Asia
* Select only columns vehicle_weight and model_year
* Select the first 7 values
* Get the underlying NumPy array. Let's call it X.
* Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
* Invert XTX.
* Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
* Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
* What's the sum of all the elements of the result?
* Note: You just implemented linear regression. We'll talk about it in the next lesson.

* 0.051
* 0.51
* 5.1
* 51

In [17]:
df_asia=df_cars.query("origin=='Asia'").copy()

In [18]:
df_asia.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [21]:
# Step 1: Select the first 7 values
X = df_asia[["vehicle_weight", "model_year"]].head(7).values

In [22]:
# Step 2: Compute matrix-matrix multiplication between the transpose of X and X
XTX = np.dot(X.T, X)

In [23]:
# Step 3: Invert XTX
XTX_inv = np.linalg.inv(XTX)

In [24]:

# Step 4: Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [25]:
# Step 5: Multiply the inverse of XTX with the transpose of X, then multiply by y
w = np.dot(np.dot(XTX_inv, X.T), y)

In [26]:
# Step 6: Compute the sum of all the elements of the result
w_sum = np.sum(w)
print(w_sum)

0.5187709081074007