In [59]:
import pandas as pd
import numpy as np

Question 1
What's the version of Pandas that you installed?

You can get the version information using the __version__ field:

In [7]:
pd.__version__

'2.2.3'

getting the data

In [15]:
#wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

In [22]:
laptops_df=pd.read_csv("laptops.csv")
laptops_df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

## Q2. Records count

How many records are in the dataset?

In [23]:
len(laptops_df)

2160

## Q3. Laptop brands
How many laptop brands are presented in the dataset?

In [24]:
laptops_df["Brand"].nunique()

27

## Q4. Missing values

How many columns in the dataset have missing values?

In [28]:
laptops_df.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

## Q5. Maximum final price

What's the maximum final price of Dell notebooks in the dataset?

In [30]:
laptops_df["Brand"].unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [37]:
laptops_df.loc[laptops_df.Brand=="Dell",["Final Price","Brand"]].groupby(by="Brand").max()

       Final Price
Brand
Dell        3936.0

## Q6. Median value of Screen

Find the median value of Screen column in the dataset.

Next, calculate the most frequent value of the same Screen column.

Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.

Now, calculate the median value of Screen once again.

Has it changed?

Hint: refer to existing mode and median functions to complete the task.

Yes
No

In [39]:
laptops_df.Screen.median()

np.float64(15.6)

In [40]:
laptops_df.Screen.mode()

0    15.6
Name: Screen, dtype: float64

In [42]:
laptops_df.fillna(laptops_df.Screen.mode(),inplace=True)

In [43]:
laptops_df.Screen.median()

np.float64(15.6)

it didn't change

## Q7. Sum of weights

Select all the "Innjoo" laptops from the dataset.

Select only columns RAM, Storage, Screen.

Get the underlying NumPy array. Let's call it X.

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

Compute the inverse of XTX.

Create an array y with values [1100, 1300, 800, 900, 1000, 1100].

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the sum of all the elements of the result?

Note: You just implemented linear regression. We'll talk about it in the next lesson

In [68]:
X=laptops_df.loc[laptops_df.Brand=="Innjoo",["RAM","Storage","Screen"]].values
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [69]:
XTX=X.T.dot(X)
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [70]:
inversa = np.linalg.inv(XTX)
inversa

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [71]:
y=np.array([1100, 1300, 800, 900, 1000, 1100])
y

array([1100, 1300,  800,  900, 1000, 1100])

In [72]:
w=(inversa.dot(X.T)).dot(y)
w

array([45.58076606,  0.42783519, 45.29127938])

In [74]:
w.sum()

np.float64(91.29988062995815)